################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreDemo/.vs/NetCoreDemo/v16
/.vs
/NetCoreDemo/NetCoreDemo/obj
/NetCoreDemo/.vs/NetCoreDemo
/NetCoreDemo/NetCoreDemo/bin/Debug/netcoreapp3.1
