################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreDemo/.vs/NetCoreDemo/v16
/.vs
/NetCoreDemo/NetCoreDemo/obj
